Source/AbidzarFrame.Web/Service References/BOAJMIBondsServiceModel/BOAJMIBondsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55553/BOAJMIBondsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Domain.Models" />
  <xs:import schemaLocation="http://localhost:55553/BOAJMIBondsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Manulife.Core.Model.Business" />
  <xs:complexType name="BondMastRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Domain.Models" base="q1:BondMastBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthenticationToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BondMastRequest" nillable="true" type="tns:BondMastRequest" />
  <xs:complexType name="BondMastResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BondMastResult" nillable="true" type="tns:BondMastResult" />
      <xs:element minOccurs="0" name="BondMastResultList" nillable="true" type="tns:ArrayOfBondMastResult" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Manulife.Core.Model.Business" minOccurs="0" name="Errors" nillable="true" type="q2:BusinessErrors" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BondMastResponse" nillable="true" type="tns:BondMastResponse" />
  <xs:complexType name="BondMastResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Domain.Models" base="q3:BondMastBaseModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BondMastResult" nillable="true" type="tns:BondMastResult" />
  <xs:complexType name="ArrayOfBondMastResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BondMastResult" nillable="true" type="tns:BondMastResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBondMastResult" nillable="true" type="tns:ArrayOfBondMastResult" />
  <xs:complexType name="BondProdRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Domain.Models" base="q4:BondProdBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthenticationToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BondProdRequest" nillable="true" type="tns:BondProdRequest" />
  <xs:complexType name="BondProdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BondProdResult" nillable="true" type="tns:BondProdResult" />
      <xs:element minOccurs="0" name="BondProdResultList" nillable="true" type="tns:ArrayOfBondProdResult" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Manulife.Core.Model.Business" minOccurs="0" name="Errors" nillable="true" type="q5:BusinessErrors" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BondProdResponse" nillable="true" type="tns:BondProdResponse" />
  <xs:complexType name="BondProdResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Domain.Models" base="q6:BondProdBaseModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BondProdResult" nillable="true" type="tns:BondProdResult" />
  <xs:complexType name="ArrayOfBondProdResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BondProdResult" nillable="true" type="tns:BondProdResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBondProdResult" nillable="true" type="tns:ArrayOfBondProdResult" />
</xs:schema>