Source/AbidzarFrame.Web/Service References/BOAJMIBondsServiceModel/BOAJMIBondsService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55553/BOAJMIBondsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" />
  <xs:element name="GetBondMastFindBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="request" nillable="true" type="q1:BondMastRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBondMastFindByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="GetBondMastFindByResult" nillable="true" type="q2:BondMastResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBondMastList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBondMastListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="GetBondMastListResult" nillable="true" type="q3:BondMastResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBondMast">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="request" nillable="true" type="q4:BondMastRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBondMastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="InsertBondMastResult" nillable="true" type="q5:BondMastResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBondMast">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="request" nillable="true" type="q6:BondMastRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBondMastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="UpdateBondMastResult" nillable="true" type="q7:BondMastResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBondMast">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="request" nillable="true" type="q8:BondMastRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBondMastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="DeleteBondMastResult" nillable="true" type="q9:BondMastResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBondProdFindBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="request" nillable="true" type="q10:BondProdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBondProdFindByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="GetBondProdFindByResult" nillable="true" type="q11:BondProdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBondProdList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBondProdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="GetBondProdListResult" nillable="true" type="q12:BondProdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBondProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="request" nillable="true" type="q13:BondProdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBondProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="InsertBondProdResult" nillable="true" type="q14:BondProdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBondProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="request" nillable="true" type="q15:BondProdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBondProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="UpdateBondProdResult" nillable="true" type="q16:BondProdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBondProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="request" nillable="true" type="q17:BondProdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBondProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Bonds.Interface.Dto" minOccurs="0" name="DeleteBondProdResult" nillable="true" type="q18:BondProdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>