Source/AbidzarFrame.Web/Service References/BOAJMIEquityServiceModel/BOAJMIEquityService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Domain.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Manulife.Id.BOAJMI.Domain.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BrokerBaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMM" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DEALER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FRG_FLG" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="INC_TAX" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_DELETED" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LEVY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="L_UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="L_USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAX_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NPWP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SETTLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAX_COMM" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="VAT_COMM" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="VAT_LEVY" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerBaseModel" nillable="true" type="tns:BrokerBaseModel" />
  <xs:complexType name="EquityHBaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACC_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACC_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPROVED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BANK_ACC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMENTARY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENT_DT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXECUTED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUND_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_DELETED" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="L_UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="L_USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_TP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SECUR_TP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SETTLEMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SETTLE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SET_AMOUNT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TRAN_DT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TRAN_TYPE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="USER_ID_A" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquityHBaseModel" nillable="true" type="tns:EquityHBaseModel" />
  <xs:complexType name="EquityDBaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BROKER_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMM" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DEAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EQUITY_D_ID" type="xs:int" />
      <xs:element minOccurs="0" name="INC_TAX" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_DELETED" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LEVY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="L_UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="L_USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_TP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PRICE_EXEC" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRICE_ORD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QTY_EXEC" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QTY_ORD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SECUR_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPEC_INST" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TAX_COMM" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TOTAL" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAT_COMM" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="VAT_LEVY" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquityDBaseModel" nillable="true" type="tns:EquityDBaseModel" />
</xs:schema>